
<section class="input-card">
	<div class="input-group">
		<input type="text" id="taskTitle" placeholder="What needs to be done?" [(ngModel)]="task.task">
		<textarea id="taskDesc" placeholder="Add a description..." [(ngModel)]="task.description"></textarea>
		
		<div class="input-footer">
			<select id="taskDifficulty" [(ngModel)]="task.difficulty">
				<option value="easy">Level: Easy</option>
				<option value="medium">Level: Medium</option>
				<option value="hard">Level: Hard</option>
			</select>
			<button id="addBtn" (click)="addTask()">Add Task</button>
		</div>
	</div>
</section>

<section  class="task-list">
	@if (isLoading())
	{
		<svg class="loading" fill="hsl(228, 97%, 42%)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
	}@else if(!isLoading())
	{
		@for(todo of allTasks(); track todo.id)
		{
			<div class="task-item difficulty-hard">
				<div class="task-content">
					@if (!edit())
					{
						<h3>{{todo.task}}</h3>
						<p>{{todo.description}}</p>
					}
					@else if(edit())
					{
						<input type="text" id="taskTitle" placeholder="What needs to be done?" [(ngModel)]="todo.task">
						<br>
						<textarea id="taskDesc" placeholder="Add a description..." [(ngModel)]="todo.description"></textarea>
					}
				</div>
				<div class="task-status">
					
					@if (!edit())
					{
						<span class="badge">{{todo.difficulty}}</span>
						<button type="button" class="btn btn-primary" (click)="edit.set(!edit())">Edit</button>
						<button type="button" class="btn btn-danger" (click)="deleteTask(todo.id)">Delete</button>
					}@else
					{
						<select id="taskDifficulty" [(ngModel)]="todo.difficulty">
							<option value="easy">Level: Easy</option>
							<option value="medium">Level: Medium</option>
							<option value="hard">Level: Hard</option>
						</select>
						<button type="button" class="btn btn-success" (click)="updateTask(todo.id, todo)">Confirm</button>
						<button type="button" class="btn btn-danger" (click)="edit.set(!edit())">Cancel</button>
					}
				</div>
			</div>
		}
		@empty {
			<div class="nodata">
				There's no task added yet!
			</div>
		}
	}
</section>